datwave-examples/target/classes/datwave-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" basePath="/datawave" doc:name="HTTP Listener Configuration"/>
    <flow name="datwave-examplesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/example" allowedMethods="post" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="7ba8bd98-b217-4ee8-a63e-602552b2d011">
            <dw:input-payload mimeType="application/xml" doc:sample="D:\mule\example.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---

items : payload.catalog.*product map {
	description:$.@description,
	image:$.@product_image,
	item: $.*catalog_item map {
		"number": $.item_number,
		"price": $.price as :string default "***",
		"gender": $.@gender,
		"sizes" : $.*size map {
			"size":$.@description,
			"colors":$.*color_swatch map {
				"color":$,
				"image":$.@image
			}
		}
	}
} ]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Mesage after all transformation :: --&gt;  #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
