employee-info/src/main/app/employee-info.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="employee-info-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" basePath="/employee"/>
    <apikit:config name="employee-info-config" raml="employee-info.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="employee-info-main">
        <http:listener config-ref="employee-info-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="employee-info-config" doc:name="APIkit Router"/>
        <exception-strategy ref="employee-info-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="employee-infoFlow">
        <set-payload value="[
{
  &quot;eid&quot;: 12345,
  &quot;ename&quot;: &quot;eswar1&quot;,
  &quot;esalary&quot;: &quot;120000&quot;,
  &quot;address&quot; : {
      &quot;permenent&quot;: {
        &quot;Street&quot;: &quot;Ponniamman nagar&quot;,
        &quot;Door No&quot; : &quot;5/338 A&quot;,
        &quot;Area&quot;:&quot;medavakam&quot;,
        &quot;City&quot; : &quot;Chennai&quot;,
        &quot;State&quot; : &quot;Tamilnadu&quot;,
        &quot;Country&quot;:&quot;India&quot;,
        &quot;pincode&quot;:&quot;600100&quot;

      }, 
      &quot;present&quot;: {
        &quot;Street&quot;: &quot;Kalpana Nagr&quot;,
        &quot;Door No&quot; : &quot;18-368/3 SF4&quot;,
        &quot;Area&quot;: &quot;Kanuru&quot;,
        &quot;City&quot; : &quot;Vijayawada&quot;,
        &quot;State&quot; : &quot;Andhra Pradesh&quot;,
        &quot;Country&quot;:&quot;India&quot;,
        &quot;pincode&quot;:&quot;520007&quot;
      }
  }
  }
]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="employee-info-console">
        <http:listener config-ref="employee-info-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="employee-info-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/info:employee-info-config">
        <flow-ref name="employee-infoFlow" doc:name="Flow Reference"/>

    </flow>
    <apikit:mapping-exception-strategy name="employee-info-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
