jms-example/target/classes/jms-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8081" basePath="/uploadfile" doc:name="HTTP Listener Configuration" />
	<jms:activemq-connector name="Active_MQ"
		username="admin" password="admin" brokerURL="tcp://localhost:61616"
		validateConnections="true" durable="true" persistentDelivery="true"
		doc:name="Active MQ" acknowledgementMode="CLIENT_ACKNOWLEDGE"
		doc:description="This JMS will help to send the message to the queue with priority 8. The payload constanis the string." specification="1.1">
		<reconnect blocking="false" count="3" frequency="5000"/>
	</jms:activemq-connector>

	<flow name="jms-exampleFlow" processingStrategy="synchronous">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/jsonfile" allowedMethods="POST" doc:name="HTTP"  parseRequest="false"/>
		<logger message="payload" level="INFO" doc:name="Logger" />
        <byte-array-to-object-transformer encoding="UTF-8" mimeType="text/plain" doc:name="Byte Array to Object"/>
        <custom-transformer encoding="ISO-8859-15" class="PayloadTransformer" doc:name="Java" mimeType="application/java"/>

		<async doc:name="Async">
			<flow-ref name="jms-inbound" doc:name="Flow Reference" />
		</async>
		<set-payload value="Message sent Active MQ " doc:name="Set Payload" />
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Invalid Data"
				when="#[exception.causedBy(java.lang.IllegalArgumentException)]">
				<set-payload doc:name="Set Payload" value="Invalid input data: #[payload]" />
				<set-variable variableName="statusCode" value="400"
					doc:name="Set 'statusCode' variable" />
				<set-variable variableName="reason" value="Invalid input data"
					doc:name="Set 'reason' variable" />

			</catch-exception-strategy>
			<catch-exception-strategy doc:name="Catch Missing Data"
				when="#[exception.causedBy(java.lang.NullPointerException)]">
				<set-payload doc:name="Set Payload" value="Missing input data: #[payload]" />
				<set-variable variableName="statusCode" value="400"
					doc:name="Set 'statusCode' variable" />
				<set-variable variableName="reason" value="Missing input data"
					doc:name="Set 'reason' variable" />
			</catch-exception-strategy>
			<catch-exception-strategy doc:name="Catch Missing Data"
				when="#[exception.causedBy(java.net.ConnectException)]">
				<set-payload doc:name="Set Payload" value="Missing input data: #[payload]" />
				<set-variable variableName="statusCode" value="400"
					doc:name="Set 'statusCode' variable" />
				<set-variable variableName="reason" value="Missing input data"
					doc:name="Set 'reason' variable" />
			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
	
	<flow name="jms-inbound" processingStrategy="asynchronous">
        <object-to-string-transformer doc:name="Object to String"/>
		<jms:outbound-endpoint doc:name="JMS"
			connector-ref="Active_MQ" encoding="UTF-8" queue="json-xml-queue">
			 <message-properties-transformer>
       			<add-message-property key="Priority" value="9" />
    		</message-properties-transformer>
    		<jms:transaction action="ALWAYS_BEGIN" />
		</jms:outbound-endpoint>
	</flow>
	<flow name="jms-exampleFlow1">
		<jms:inbound-endpoint queue="json-xml-queue"
			connector-ref="Active_MQ" encoding="UTF-8" doc:name="JMS" mimeType="text/json">
			<jms:transaction action="BEGIN_OR_JOIN" timeout="5000" />
			<jms:selector expression="JMSPriority = 9"  />
		</jms:inbound-endpoint>
		<logger message="&quot;File Name ---&gt; &quot; + #[sessionVars.filename]"
			level="INFO" doc:name="Logger" />
        <choice doc:name="Choice">
            <when expression="#[sessionVars.filetype.contains('xml')]">
                <logger message="#[sessionVars]" level="INFO" doc:name="Logger"/>
                
                <file:outbound-endpoint path="src/test/resources/files" responseTimeout="10000" encoding="UTF-8" doc:name="File" outputPattern="out.xml">
                </file:outbound-endpoint>
            </when>
            <otherwise>
                <jms:outbound-endpoint queue="dead.letter" connector-ref="Active_MQ" doc:name="JMS">
                    <xa-transaction action="JOIN_IF_POSSIBLE" timeout="10000"/>
                </jms:outbound-endpoint>
            </otherwise>
        </choice>
        <rollback-exception-strategy maxRedeliveryAttempts="3" doc:name="Rollback Exception Strategy">
            <logger message="&quot;Failed&quot;" level="INFO" doc:name="Logger"/>
            <on-redelivery-attempts-exceeded>
                <jms:outbound-endpoint queue="dead.letter" connector-ref="Active_MQ" doc:name="JMS"/>
            </on-redelivery-attempts-exceeded>
        </rollback-exception-strategy>
	</flow>
</mule>
